/* Clean-Shell Variables */

:root {
    /* Base Colors */
    --esh-black: #0a0a0a;
    --esh-grey-darker: #363636;
    --esh-grey-dark: #4a4a4a;
    --esh-grey: #7a7a7a;
    --esh-grey-light: #b5b5b5;
    --esh-grey-lighter: #dbdbdb;
    --esh-white: #fff;

    --esh-blue: #3273dc;
    --esh-green: #23d160;
    --esh-orange: #ff470f;
    --esh-purple: #b86bff;
    --esh-red: #ff3860;
    --esh-turquoise: #00d1b2;
    --esh-yellow: #ffdd57;

    --esh-default-background: #FFFFFF;

    /* Fonts */
    --esh-default-font: 'Open Sans', sans-serif;
    --esh-default-font-size: 16px;
}
