/* Desktop Window Variables */
.esh-window {
    --background-color: transparent;
    --window-box-shadow: 0 0 30px rgba(0,0,0,0.5);
    --window-border-color: #DDD;
    --window-border-radius: 4px;
    --title-font: var(--esh-default-font);
    --title-font-size: 20px;
    --title-font-weight: 300;
    --title-font-color: #464646;
    --title-background-color: #F6F8F9;

    --resize-margin: 32px;

    --window-container-background: var(--esh-default-background);
    --window-status-bar-background: #F6F8F9;
}

.esh-window {
  background-color: var(--background-color);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, .25);
  border: 1px solid var(--window-border-color);
  border-radius: var(--window-border-radius);

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: -16px;
    top: -16px;
    width: calc(100% + var(--resize-margin));
    height: calc(100% + var(--resize-margin));
    z-index: -1;
  }

  & title-bar {
    border-bottom: 1px solid var(--window-border-color);
    background-color: var(--title-background-color);
    min-height: 52px;
    max-height: 52px;
    line-height: 1;
    user-select: none;

    & ui-icon {
      margin-left: 10px;
    }

    & .esh-window-title-bar-title {
      width: 100%;
      margin-left: 10px;
      font-family: var(--title-font);
      font-size: var(--title-font-size);
      font-weight: var(--title-font-weight);
      color: var(--title-font-color);
      min-height: 52px;
    }
  }

  & .esh-app-container {
    background: var(--window-container-background);
  }

  & status-bar {
    max-height: 40px;
    height: 40px;
    background-color: var(--window-status-bar-background);
  }

}


